*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.contanier{
    width: 1140px;
    margin: 0 auto;
}
.navber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
}
.logotitle{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.colortext{
    color: #FD6E0A;
}
.list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.hiremeBtn{
    background-color: #FD6E0A;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
}
.bannerbg{
    background-image: url("Imgess/Group\ 12.png") ,url("Imgess/Developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.bannermain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bannerImg Img{
    /* height: 500px; */
    width: 100%;
}
.Downledcv{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    border: none;
}
.contactme{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    color: #FD6E0A;
    margin-left: 15px;
    background: none;
    border-color: #FD6E0A;
    border: 2px solid #FD6E0A;
}
.banner-title{
    font-size: 45px; 
    font-weight: 600;
}
.banner-subtitle{
    font-size: 85px; 
    font-weight: 700;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    padding-bottom: 20px;
}
.aboutme{
    text-align: center;
    background-color: #fff5f3;
    padding: 130px 10px;
    margin-top: 130px;
}
/* main{
    margin: 0 auto;
    width: 1140px;
} */
.aboutTitle{
    font-size: 35px; 
    font-weight: 700;
}
.aboutDescription{
    font-size: 18px;
    color: #757575;
    padding: 30px 0px;
}

.about-Info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.common-info{
    font-size: 20px; 
    font-weight: 700;
    color: #757575;
}
.common-info{
    font-size: 20px; 
    font-weight: 700;
    color: #474747;
}
.text{
    text-align: center;
    margin-top: 130px;
}
.text-Title{
    font-size: 35px; 
    font-weight: 700;
}
.text-discription{
    font-size: 18px; 
}
.alllanguage{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}
.text-Title{
    font-size: 35px;
    font-weight: 700;
}
.text-discription{
    font-size: 18px;
    padding: 20px 0px;
    color: #757575;
}
.common_language{
    padding: 30px 25px;
    border-radius: 5px;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}
.commin-title{
    padding: 20px 0px;
}
.common-color{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
.summer{
  margin-top: 130px;
}
.summer-title{
    text-align: center;
}
.summaryscetion{
    display: flex;
    gap: 10px;
}